.body {
    margin: 0px;
    background: #e6ecf0;
    box-sizing: border-box;
    min-width: 890px;
    overflow: auto;
}

/* topbar */

.topbar {
    box-sizing: border-box;
}

.topbar-div1 {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 0rem calc(8rem - 15px);
    height: 46px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.25);
}

.topbar-div1-logo {
    float: left;
    width: 24px;
    height: 34px;
    margin-top: 6px;
}

.topbar-div1-ul {
    float: left;
    height: 100%;
    padding-left: 0;
    margin-bottom: 0;
}

.topbar-div1-li {
    float: left;
    list-style: none;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    height: 46px;
    box-sizing: border-box;
}

.topbar-div1-li:hover {
    border-bottom: 3px solid red;
    cursor: pointer;
}

.topbar-div1-li-img {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-top: 10px;
}

.topbar-div1-li-a {
    display: inline-block;
    padding-left: 5px;
    height: 22px;
    vertical-align: bottom;
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.topbar-div1-li-a:hover {
    text-decoration: none;
    color: black;
}

.topbar-div1-profile {
    float: right;
    width: 26px;
    height: 26px;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 21px;
}

.topbar-div1-profile:hover {
    cursor: pointer;
}

.topbar-div1-search {
    float: right;
    height: 28px;
    margin-top: 9px;
    background-color: #f5f8fa;
    border: 1px solid #e6ecf0;
    border-radius: 21px;
}

.topbar-div1-search:hover {
    border: 2px solid red;
}

.topbar-div1-input {
    float: left;
    height: 20px;
    margin-top: 3px;
    background-color: #f5f8fa;
    border: 0px solid #e6ecf0;
    outline: none;
    margin-left: 12px;
    margin-right: 12px;
    font-size: 12px;
}

.topbar-div1-img {
    float: left;
    margin-top: 5px;
    margin-right: 10px;
}

.topbar-div1-img:hover {
    cursor: pointer;
}

/* header */

.header-div1 {
    width: 100%;
    height: 420px;
}

.header-div1-img {
    width: 100%;
    height: 100%;
}

.header-div2 {
    height: 60px;
    background-color: #fff;
}

.header-div2-div1 {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 50%;
    top: 320px;
    left: 160px;
}

.header-div2-img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 0.3rem;
    box-sizing: border-box;
}

.header-div2-div2 {
    padding: 0rem 8rem;
}

.header-right {
    padding-left: 0px !important;
}

.header-right-ul {
    height: 100%;
    padding-left: 0px;
}

.header-right-li {
    float: left;
    height: 100%;
    list-style: none;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.header-right-li:first-child {
    cursor: pointer;
    border-bottom: 2px solid red;
}

.header-right-li:first-child .header-right-li-span2 {
    color: red;
}

.header-right-li:hover {
    cursor: pointer;
    border-bottom: 2px solid red;
}

.header-right-li:hover .header-right-li-span2 {
    color: red;
}

.header-right-li-span1 {
    font-size: 12px;
    font-weight: bold;
    color: #657786;
}

.header-right-li-span2 {
    font-size: 20px;
    font-weight: bold;
    color: #657786;
}

.header-right-follow  {
    padding-right: 0px !important;
}

.header-right-button {
    position: relative;
    float: right;
    width: 100px;
    height: 40px;
    background-color: white;
    cursor: pointer;
    border: 1px solid #FF5B32;
    border-radius: 100px;
    font-size: 14px;
    font-weight: bold;
    color: #FF5B32;
    padding: 6px 16px;
    margin-top: 10px;
}

/* content */

.content-div1 {
    padding: 0rem 8rem;
}

.content-left {
    padding-top: 60px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px !important;
}

.content-left-div {
    background-color: #fff;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

.content-left-space {
    height: 15px;
    background-color: #e6ecf0;
}

.content-left-trends-div1 {
    font-weight: bold;
}

.content-left-trends-div1-a {
    font-size: 12px;
    color: red;
    font-weight: normal;
}

.content-left-trends-div2 {
    margin-top: 8px;
}

.content-left-trends-a {
    margin-top: 15px;
    font-size: 14px;
    font-weight: bold;
    color: red;
}

.content-left-trends-a:hover {
    color: red;
}

.content-left-trends-div3 {
    font-size: 12px;
    color: #657786;
}

.content-left-trends-div3:hover {
    cursor: pointer;
}

.content-left-div-h1 {
    font-size: 21px;
    font-weight: bold;
}

.content-left-div-h2 {
    font-size: 14px;
    color: #657786;
}

.content-left-div-p {
    padding-top: 10px;
    font-size: 14px;
}

.content-left-div-p-a {
    color: red;
}

/* .content-left-div-div1 {
    font-size: 14px;
    color: red;
} */

.content-left-div-div1-a {
    font-size: 14px;
    color: red;
}

.content-left-div-div2 {
    padding-top: 10px;
    font-size: 14px;
    color: #657786;
}

.content-left-div-div2-img {
    width: 18px;
    height: 14px;
}

.content-left-div-button {
    position: relative;
    background-color: #FF5B32;
    cursor: pointer;
    border: 1px solid #FF5B32;
    border-radius: 100px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    padding: 6px 16px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content-left-div-div3 {
    font-size: 14px;
}

.content-left-div-div3-a {
    color: red;
}

.content-right {
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.content-header {
    background-color: #fff;
    border: 1px solid #e6ecf0;
    height: 45px;
    padding-left: 15px;
    padding-right: 15px;
}

.content-header-ul {
    margin-bottom: 0px;
    padding-left: 0px;
    text-align: center;
}

.content-header-li {
    float: left;
    list-style: none;
    height: 45px;
    line-height: 45px;
    padding-right: 40px;
}

.content-header-li-a {
    color: red;
    font-size: 18px;
    font-weight: bold;
}

.content-header-li:first-child .content-header-li-a  {
    color: black;
    text-decoration: none;
    cursor: default;
}

.content-header-li-a:hover {
    color: red;
}

.content-item {
    background-color: #fff;
    border: 1px solid #e6ecf0;
    padding-top: 10px;
    padding-bottom: 20px;
}

.content-item-left {
    padding-right: 0px !important;
}

.content-item-right {
    padding-left: 0px !important;
}

.content-item-right-span1 {
    font-weight: bold;
}

.content-item-right-span2 {
    font-size: 14px;
    color: #657786;
}

.content-item-main {
    font-size: 14px;
}

.content-logo {
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.content-img {
    width: auto;  
    height: auto;  
    margin-top: 10px;
    max-width: 100%;  
    max-height: 100%;  
}

.content-comment {
    margin-top: 10px;
}

.content-icon {
    width: 18px;
    height: 18px;
}

.content-icon-span {
    font-size: 12px;
    font-weight: bold;
    margin-right: 20px;
}

/* media query */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .header-div1 {
        height: 380px;
    }

    .header-div2-div1 {
        top: 280px;
        left: 100px;
    }
}

@media only screen and (max-width: 991px) {
    .header-div1 {
        height: 340px;
    }

    .header-div2-div1 {
        top: 240px;
        left: 80px;
    }
}

@media only screen and (max-width: 890px) {
    .topbar-div1 {
        position: relative;
    }

    .header-div2-div1 {
        top: 280px;
        left: 80px;
    }
}